.content-cart{
    padding: 5rem;
}

.btn-del{
    position: absolute;
    border: none;
    outline: none;
    background: transparent;
    margin-bottom: 2rem!important;
}

.menu-sale{
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(214, 228, 229);
    margin-top: 5rem;
}

.menu-sale input{
    margin-left: 3rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    height: 40px;
    width: 250px;
    border-radius: 5px;
}

.menu-sale Button{
    outline: none;
    border: none;
    background-color: #EFF5F5;
    height: 40px;
    width: 170px;
    margin: 1rem;
    border-radius: 5px;
}

.name-list{
    background-color: #B2B2B2;
    width: 200px;
    /* height: 50px; */
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: #3C4048;
    font-size: 22px;
    padding: 2rem;
}

.desc-list{
    background-color: #EAEAEA;
    width: 220px;
    /* height: 50px; */
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #3C4048;
    padding: 2rem;
    font-size: 28px;
}

.cart-total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8rem;
}

.cart-total .txt-total{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #3C4048;
    font-size: 26px;
    margin: 0rem 25rem 2rem 0rem;
}

.list-left{
    display: flex;
    flex-direction: row;
}

.btn-procced{
    border: none;
    outline: none;
    background-color: black;
    color: #EFF5F5;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 30px;
    width: 548px;
    height: 80px;
    margin: 2rem 0rem 0rem 0rem;
}
