.detail-product{
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

.detail-item{
    display: flex;
    flex-direction: row;
}

.short-desc{
    padding: 2rem;
    margin: 0rem 0rem 0rem 3rem;
    /* background-color: #EEF1FF; */
    /* border-radius: 14px; */
}

.short-desc p{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 30px;
    transition: 0.2s ease;
}

.short-desc h6{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #0693e3;;
    font-size: 25px;
    transition: 0.2s ease;
    margin: 0rem 0rem 1rem 0rem;
}

.short-desc .desc{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 22px;
    transition: 0.2s ease;
}

.quantity{
    display: flex;
    flex-direction: row;
    margin: 4rem 0rem 1rem 0rem;
  }
  
  .btn-temp{
    border: none;
    outline: none;
    border: 1px solid #d6d6d6;
    width: 65px;
    height: 42px;
    font-size: 28px;
  }
  
  .qt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 39.5px;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
  }

  .btn-add{
    margin: -0.5rem 0rem 0rem 4rem;
    padding: 1rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    background: #3AB4F2;
    border-radius: 10px;
    border: 1px solid rgb(214, 228, 229);
  }

  .content-desc{
    display: flex;
    flex-direction: row;
    margin: 6rem 0rem 0rem 0rem;
  }

  .list-group{
    display: flex!important;
    flex-direction: column!important;
  }

  .list-group a{
    height: 50px;
    width: 400px;
    /* padding: 1rem; */
    /* background-color: #d6d6d6; */
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #3AB4F2;
    font-size: 25px;
    border-bottom: 1px solid #0693e3;
  }


  .description{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0rem 0rem 0rem 4rem;
  }

  .related .title{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 34px;
    margin: 10rem 0rem 5rem 0rem;
    text-align: center;
  }

  .related-product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }