.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6rem;
}

.info-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-cart span{
    margin: 0rem 1rem 0rem 1rem;
}

.sorting{
    display: flex;
    flex-direction: row;
}

select{
    height: 60px;
    border: none;
    outline: none;
    background: #EFF5F5;
    border-radius: 10px;
    margin: 0.4rem 1rem 0rem 0rem;
}

.menu-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(214, 228, 229);
    padding: 0rem 2rem 0rem 8rem;
}

.input-search{
    width: 380px;
    height: 60px;
    margin: 0.4rem 0rem 1rem 0rem;
    padding: 0rem 1rem 0rem 2.5rem;
    border: none;
    outline: none;
    background: #EFF5F5;
    border-radius: 10px;
}

.icon-search{
    position: absolute;
    margin: 1.5rem 0rem 0rem 12.5rem;
}

.pagination{
    margin: 3rem 0rem -4rem 50rem!important;
}

.item{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(125, 229, 237);
    border-radius: 10px;
    width: 400px;
    height: 590px;
    margin: 5rem 3rem 0rem 0rem;
}

.item:hover{
    cursor: pointer;
}

.item-bot{
    padding-left: 2rem;
}

.item-bot p{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 22px;
    transition: 0.2s ease;
}

.item-bot h6{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #0693e3;;
    font-size: 20px;
    transition: 0.2s ease;
    margin: 0rem 0rem 1rem 0rem;
}

.item-bot Button{
    cursor: pointer;
    padding: 1rem;
    border: 1px solid rgb(214, 228, 229);
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: #aaa;
}

.item-bot Button:hover{
    cursor: pointer;
    background-color: #0693e3;
    color: #ffffff;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    /* background-color: aqua; */
}