.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    background: #ffffff;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); */
    padding: 0rem 2rem 0rem 2rem;
}

.logo{
    margin: 1.5rem 0rem 0rem 3rem;
}

ul{
    display: flex;
    flex-direction: row;
}

ul li,
ul li .navlink{
    font-size: 25px;
    text-decoration: none;
    list-style-type: none!important;
    margin: 1.5rem 2rem 0rem 0rem;
}
